@using ELearningProject.Models
@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/loginstyle.css">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <div class="login">
            <img src="~/Content/Images/logo2.svg" alt="" class="login__logo mb-5">
            @using (Html.BeginForm("actionName", "controllerName", FormMethod.Post, new { id = "frmId", @class = "login__form" }))
            {
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "login__input", @placeholder = "Email" } })
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "login__input", @placeholder = "Password" } })
                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "login__input", @placeholder = "Confirm Password" } })
                @Html.EditorFor(m => m.Birthday, new { htmlAttributes = new { @class = "login__input", @placeholder = "Birthday" } })
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "login__input", @placeholder = "Your Name" } })
                @Html.EditorFor(m => m.AsTeacher, new { htmlAttributes = new { @class = "mycheckbox" } })
                <label class="real_chbox" for="AsTeacher">Login as Teacher</label>
                <button type="submit" value="Create" class="login__submit">Sign up</button>
                @*<a onclick="this.form.submit()" class="login__submit" value="Sign in">Sign up</a>*@
            }
            <div class="login__options">
                <p>Or sign in with</p>
                <a href="#">
                    <svg class="login__icon login__icon--1">
                        <use xlink:href="~/Content/Images/sprite.svg#icon-facebook2"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="login__icon login__icon--2">
                        <use xlink:href="~/Content/Images/sprite.svg#icon-google2"></use>
                    </svg>
                </a>
            </div>
            <div class="login__break">&nbsp;</div>
        </div>
    </div>

</body>

</html>