@using ELearningProject.Models
@model CreateTestViewModel

@{
    ViewBag.Title = "CreateTest";
    Layout = "~/Views/Shared/_CreateTest.cshtml"; ;
}
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="~/Content/StyleTeacher.css" rel="stylesheet" />
</head>
<div class="txtcontainer">
    <form>
        <div class="group">
            <input type="text" id="txtTestname">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Test Name: </label>
        </div>
    </form>
    <form>
        <div class="group">
            <input type="file" name="filename" accept="image/gif, image/jpeg, image/png">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Image: </label>
        </div>
    </form>
    @*<div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Type:
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" data-value="puzzlegame" class="ttype">Puzzel Game</a></li>
                <li role="presentation"><a role="menuitem" data-value="multiplechoice" class="ttype">Multipie Choice</a></li>
                <li role="presentation"><a role="menuitem" data-value="translating" class="ttype">Translating</a></li>
            </ul>
        </div>*@
    <form>
        <span class="highlight"></span>
        <span class="bar"></span>
        <select id="tType">
            <option value="type" class="ttype">Type:</option>
            <option value="pg" class="ttype">Puzzel Game</option>
            <option value="mc" class="ttype">Multipie Choice</option>
            <option value="tr" class="ttype">Translating</option>
        </select>
        <button onclick="TypeTest()">Submit</button>
    </form>
</div>
@foreach (var quest in Model.Questions)
{
    <div class="container-fluid" style="clear:both">
        <div class="col-md-5" style="clear">
            <br />
            <span>
                <video width="340" height="260" controls>
                    <source src="@quest.Content" type="video/mp4" />
                </video>
            </span>
            <hr />
        </div>
        <div class="col-md-7" style="clear">
            <br />
            <br />
            <h3 style="font-size:21px">@quest.Answer</h3>
            <br />
            <br />
            <div>
                <input type="button" name="btnAdd" id="btnAdd+@quest.id" value="Add" class="button-three" onclick="ClickEv(@quest.id.ToString())" />
                <!--input type="button" name="btnDel" id="btnDel+@quest.id" value="Delete" class="btn btn-success" onclick="" disabled /-->
            </div>
        </div>
    </div>
}
    <div>
        <b></b>
        
        <div class="content">
            <div class="button_container">
                <div class="button_su">
                    <span class="su_button_circle">
                    </span>
                    <a href="#" class="button_su_inner" onclick="SaveFunc(@Model.TeacherId)">
                        <input class="button_text_container"  style="bottom: 29px; right: 35px; color:white;"  onclick="SaveFunc(@Model.TeacherId)">Save</input>
                    </a>
                </div>
            </div>
        </div>
    </div>



<script>
    function SingleQuestionAddViewModel(teacherId, questionId, submit, TestName, order) {
        this.teacherId = parseInt(teacherId);
        this.questionId = parseFloat(questionId);
        this.submit = Boolean(submit);
        this.TestName = TestName;
        this.order = order;
    }

    function ClickEv(e) {
        $.ajax({
            url: '@Url.Action("SubmitTest", "Teacher")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(new SingleQuestionAddViewModel(@Model.TeacherId, e,
                false, "", 0)),
            success: function () {
                console.log("Add successful");
            }
        })
        document.getElementById("btnAdd+".concat(e)).disabled = true;
        //document.getElementById("btnDel+".concat(e)).disabled = false;
    }

    function SaveFunc(e) {
        $.ajax({
            url: '@Url.Action("SubmitTest", "Teacher")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(new SingleQuestionAddViewModel(e, 0, true, document.getElementById("txtTestname").value, 0)),
            success: function () {
                console.log("Submit successful");
            }
        })
        window.location.href = "@Url.Action("Index", "Teacher")";
    }

    $( ".button_su_inner" ).mouseenter(function(e) {
   var parentOffset = $(this).offset(); 
  
   var relX = e.pageX - parentOffset.left;
   var relY = e.pageY - parentOffset.top;
   $(this).prev(".su_button_circle").css({"left": relX, "top": relY });
   $(this).prev(".su_button_circle").removeClass("desplode-circle");
   $(this).prev(".su_button_circle").addClass("explode-circle");

});

$( ".button_su_inner" ).mouseleave(function(e) {

     var parentOffset = $(this).offset(); 

     var relX = e.pageX - parentOffset.left;
     var relY = e.pageY - parentOffset.top;
     $(this).prev(".su_button_circle").css({"left": relX, "top": relY });
     $(this).prev(".su_button_circle").removeClass("explode-circle");
     $(this).prev(".su_button_circle").addClass("desplode-circle");

});
</script>


