@using ELearningProject.Models
@model ELearningProject.Models.TeacherIndexViewModel
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<style>
    table {
        text-align: center;
        font-family: Arial;
        font-size: 20px;
        border-collapse: collapse;
        width: 100%;
        border: groove;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<header class="header">
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Tests Done!</h2>
            <a class="close" href="#">&times;</a>
            <br />
            <div class="content">
                <div id="ScoreBoard">
                </div>
            </div>
        </div>
    </div>
    <div class="header__details mb-5">
        <h2 class="heading-2">
            Your Tests
        </h2>
        <br />
    </div>
    <div>
        <section class="videos">
            @foreach (var tt in Model.stvm.Tests)
            {
                foreach (var test in tt)
                {
                    if (Model.OwnTests.Contains(test.id))
                    {
                        <div class="video__puzzleindex">
                            <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
                            <div class="video__img-box">
                                <img src="@test.Image" alt="" class="video__img">
                                <div class="video__layer"></div>
                                <a href="#popup1" class="btn video__btn buttonpopup" style="position:absolute; left:20%">Edit</a>
                                <a href="#popup1" class="btn video__btn buttonpopup" style="position:absolute; left:60%"
                                   onclick="GetMarks(@test.id)">Results</a>
                            </div>
                            <div class="video__title">@test.Desc</div>
                            <div class="video__info">
                                <div class="video__difficulty video__difficulty--1">
                                    <span class="video__difficutly-point"></span>
                                    <span class="video__difficutly-point"></span>
                                    <span class="video__difficutly-point"></span>
                                </div>
                                <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
                                <p class="video__phrases">25 phrase</p>
                            </div>
                        </div>
                    }
                }
            }
        </section>
    </div>

    <script>
        function GetMarks(id) {
            //console.log("Requesting test results at id: " + id);
            $.ajax({
                url: '@Url.Action("GetTestResult", "Teacher")',
                dataType: "json",
                type: "POST",
                cache: false,
                data: { testid: id },
                success: function (data) {
                    var str = "<table border = \"2\"><tr><th>" + "Student Name" + "</th><th>" + "Score" + "</th></tr>";
                    data.forEach((item) => {
                        console.log(item.Score);
                        str += "<tr><td>" + item.Student.Name + "</td><td>" + item.Score + "</td></tr>";
                    })
                    str += "</table>";
                    document.getElementById("ScoreBoard").innerHTML = str;
                    console.log(str);
                },
                error: function () {
                    alert("Cant find data");
                }
            })
        }
    </script>

    <section class="videos">
        @foreach (var type in Model.stvm.TestTypes)
        {
            <h2 class="heading-2 videos__heading">@type</h2>
            foreach (var t in Model.stvm.Tests[Model.stvm.TestTypes.IndexOf(type)])
            {
                <div class="video__puzzleindex">
                    <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
                    <div class="video__img-box">
                        <img src="@t.Image" alt="" class="video__img">
                        <div class="video__layer"></div>
                        <a href="#popup1" class="btn video__btn buttonpopup">edit</a>
                    </div>
                    <div class="video__title">@t.Desc</div>
                    <div class="video__info">
                        <div class="video__difficulty video__difficulty--1">
                            <span class="video__difficutly-point"></span>
                            <span class="video__difficutly-point"></span>
                            <span class="video__difficutly-point"></span>
                        </div>
                        <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
                        <p class="video__phrases">25 phrase</p>
                    </div>
                </div>
            }
        }
    </section>
    <div class="header__products">
        <div class="teacher_product">
            <div class="img__testbox">
                <img src="~/Content/Images/tasks.png" alt="" class="img__test">
            </div>
            <div class="test__description">
                <h3 class="test__title">Test title here</h3>
                <p class="description__text">
                    Test Descrasdfasdfasdf asdfaf safasdf asdfsafd
                </p>
                <div class="test__edit__section">
                    <a href="" title="Button push blue/green" class="test__button btnPush edit__test">Edit</a>
                    <a href="" title="Button push orange" class="test__button btnPush delete__test">Delete</a>
                </div>
            </div>
        </div>
        <div class="teacher_product">
            <div class="img__testbox">
                <img src="~/Content/Images/tasks.png" alt="" class="img__test">
            </div>
            <div class="test__description">
                <h3 class="test__title">Test title here</h3>
                <p class="description__text">
                    Test Descr
                </p>
                <div class="test__edit__section">
                    <a href="" title="Button push blue/green" class="test__button btnPush edit__test">Edit</a>
                    <a href="" title="Button push orange" class="test__button btnPush delete__test">Delete</a>
                </div>
            </div>
        </div>
        <div class="teacher_product">
            <div class="img__testbox">
                <img src="~/Content/Images/tasks.png" alt="" class="img__test">
            </div>
            <div class="test__description">
                <h3 class="test__title">Test title here</h3>
                <p class="description__text">
                    Test Descr
                </p>
                <div class="test__edit__section">
                    <a href="" title="Button push blue/green" class="test__button btnPush edit__test">Edit</a>
                    <a href="" title="Button push orange" class="test__button btnPush delete__test">Delete</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="videos">
    <h2 class="heading-2 videos__heading">New on ABC English</h2>
    <div class="video">
        <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
        <div class="video__img-box">
            <img src="~/Content/Images//video.jpg" alt="" class="video__img">
            <div class="video__layer"></div>
            <a href="#" class="btn video__btn">play</a>
        </div>
        <div class="video__title">What happens when we sleep?</div>
        <div class="video__info">
            <div class="video__difficulty video__difficulty--1">
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
            </div>
            <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
            <p class="video__phrases">25 phrase</p>
        </div>
    </div>
    <div class="video">
        <h4 class="heading-4 heading-4--blue">synchronous podcast</h4>
        <div class="video__img-box">
            <img src="~/Content/Images//video1.jpg" alt="" class="video__img">
            <div class="video__layer"></div>
            <a href="#" class="btn video__btn">play</a>
        </div>
        <div class="video__title">How to treat a broken heart?</div>
        <div class="video__info">
            <div class="video__difficulty video__difficulty--2">
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
            </div>
            <img src="~/Content/Images/usa.png" alt="" class="video__accent">
            <p class="video__phrases">15 phrase</p>
        </div>
    </div>
    <div class="video">
        <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
        <div class="video__img-box">
            <img src="~/Content/Images//video2.jpg" alt="" class="video__img">
            <div class="video__layer"></div>
            <a href="#" class="btn video__btn">play</a>
        </div>
        <div class="video__title">Captain Marvel (Trailer)</div>
        <div class="video__info">
            <div class="video__difficulty video__difficulty--3">
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
            </div>
            <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
            <p class="video__phrases">20 phrase</p>
        </div>
    </div>
    <div class="video">
        <h4 class="heading-4 heading-4--blue">videopuzzle</h4>
        <div class="video__img-box">
            <img src="~/Content/Images//video6.jpg" alt="" class="video__img">
            <div class="video__layer"></div>
            <a href="#" class="btn video__btn">play</a>
        </div>
        <div class="video__title">How car works?</div>
        <div class="video__info">
            <div class="video__difficulty video__difficulty--1">
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
            </div>
            <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
            <p class="video__phrases">25 phrase</p>
        </div>
    </div>
    <div class="video">
        <h4 class="heading-4 heading-4--yellow">videopuzzle</h4>
        <div class="video__img-box">
            <img src="~/Content/Images//video7.jpg" alt="" class="video__img">
            <div class="video__layer"></div>
            <a href="#" class="btn video__btn">play</a>
        </div>
        <div class="video__title">How good is your English?</div>
        <div class="video__info">
            <div class="video__difficulty video__difficulty--3">
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
            </div>
            <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
            <p class="video__phrases">25 phrase</p>
        </div>
    </div>
    <div class="video">
        <h4 class="heading-4 heading-4--blue">videopuzzle</h4>
        <div class="video__img-box">
            <img src="~/Content/Images//video8.jpg" alt="" class="video__img">
            <div class="video__layer"></div>
            <a href="#" class="btn video__btn">play</a>
        </div>
        <div class="video__title">Law and Crime?</div>
        <div class="video__info">
            <div class="video__difficulty video__difficulty--2">
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
                <span class="video__difficutly-point"></span>
            </div>
            <img src="~/Content/Images/unitedkingdom.png" alt="" class="video__accent">
            <p class="video__phrases">25 phrase</p>
        </div>
    </div>
</section>
<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Tests Done!</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <button id="showResult">Show Result</button>
            <script>
                    $(function () {
                        var cookie = @try
                        {
                            @Request.Cookies["TeacherId"].Value;
                            if (1==2)
                            {

                            }
                        } catch (NullReferenceException)
                        {
                            <text>
                                window.location.href = "@Url.Action("Index", "Home")";
                            </text>
                        };
                        $("#showResult").click(function (){
                            $.ajax({
                                url: '@Url.Action("ShowStuTest","Student")',
                                dataType: "json",
                                type: "POST",
                                cache: false,
                                data: { StuId: cookie },
                                success: function (data) {
                                    data.forEach((item) => {
                                        console.log(item.Score);
                                        //Cho nay em viet html de hien ra ava bai test + ten bai test + diem la xong
                                        document.getElementById("ScoreBoard").innerHTML =
                                            "<p>" + item.Score + "</p>";
                                    })
                                },
                                error: function () {
                                    alert("Cant find data");
                                }
                            })
                        })
                    })
            </script>
            <div id="ScoreBoard">
            </div>
        </div>
    </div>
</div>
